// @import "./sprites.scss";
html {
  font-size: 14px;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  // overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.clearfix {
  *zoom: 1;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
    overflow: hidden;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

img {
  content: normal !important;
}

@font-face {
  font-family: pingfangg;
  src: url("../fonts/苹方港中黑体.otf");
}

@font-face {
  font-family: adihaus;
  src: url("../fonts/adihaus.ttf");
}

@font-face {
  font-family: pingFang;
  src: url("../fonts/PingFang.otf");
}

.commonBase {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-color: #e4dada80;
  display: flex;
  flex-direction: column;

  .commonTitle {
    margin-bottom: 15px;
    min-height: 45px;
  }
}

.mainContent {
  overflow: auto;
  margin: 0 15px;
}

.auth-form {
  flex-grow: 1;
  opacity: 0.95;
  z-index: 500;
  background-color: #fff;
  overflow: auto;
  padding: 18px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;

  /deep/ .van-tabs__content {
    margin-top: 20px;
  }

  .van-row {
    padding-bottom: 18px;
  }

  /deep/ .van-cell {
    padding: 0;
    padding-bottom: 18px;

    .van-field__value .van-field__control {
      border: solid 1px #ccc;
      padding-left: 5px;

      .el-select {
        width: 100%;

        .el-input__inner {
          height: 25px;
          line-height: 25px;
          border: none;
          padding: 0;
        }
      }
    }

    &.van-field--error {
      padding: 0;

      .van-field__control {
        border-color: #ee0a24;
      }

      .van-field__control::placeholder {
        color: #b0b1b3;
      }

      .van-field__error-message {
        height: 18px;
        line-height: 18px;
        // display: none;
      }
    }
  }

  &.columnSpace {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.searchForm {
  .van-cell {
    padding: 0;
    padding-bottom: 18px;
  }

  .van-field__value {
    border: solid 1px #ccc;
    padding-left: 5px;

    /deep/.el-select {
      width: 100%;

      .el-input__inner {
        height: 25px;
        line-height: 25px;
        border: none;
        padding: 0;
      }
    }
    .van-field__right-icon {
      margin-right: 5px;
    }
  }
}
.datetime {
  /deep/ .el-date-editor {
    .el-input__inner {
      height: 23px;
      line-height: 23px;
      border: none;
      padding: 0;
    }
    .el-icon-time {
      display: none;
    }
  }
}
.loadingWrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.van-button {
  cursor: pointer;
}
